# Sensor data simulator
#
# Copyright (c) 2019 Nordic Semiconductor
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

menuconfig TRACKPOINT_I2C
  bool "I2C trackpoint (Pro Mini I2C slave)"
  select I2C
  depends on INPUT
  depends on DT_HAS_PROMINI_TRACKPOINT_I2C_ENABLED
  help
      Enable I2C trackpoint driver for Pro Mini I2C slave handshake.

if TRACKPOINT_I2C

module = TRACKPOINT_I2C
module-str = TRACKPOINT_I2C
source "${ZEPHYR_BASE}/subsys/logging/Kconfig.template.log_config"

endif #TRACKPOINT_I2C
